/**
 * Main Stylesheet - FarmingXP
 * This file imports all modular CSS files
 */

/* ============================================
   CSS VARIABLES (Design Tokens)
   ============================================ */
@import url('./style/variables.css');

/* ============================================
   BASE STYLES
   ============================================ */
@import url('./style/base.css');

/* ============================================
   GAME COMPONENTS
   ============================================ */
@import url('./style/game.css');
@import url('./style/hud.css');
@import url('./style/player-panel.css');
@import url('./style/modals.css');

/* ============================================
   UI SYSTEMS
   ============================================ */
@import url('./style/weather.css');
@import url('./style/build.css');
@import url('./style/well.css');
@import url('./style/animal-ui.css');
@import url('./style/loading.css');
@import url('./style/player-feedback.css');

/* ============================================
   MOBILE CONTROLS
   ============================================ */
@import url('./style/mobile-controls.css');

/* ============================================
   FEATURE MODULES
   ============================================ */
@import url('./style/character-select.css');
@import url('./style/commerce.css');
@import url('./style/storage.css');
@import url('./style/house.css');
@import url('./style/config.css');

/* ============================================
   RESPONSIVE STYLES (load last)
   ============================================ */
@import url('./responsive.css');
